@import "tailwindcss";

/* 
For example, if a background of tint 200 is showing a text color of tint 600, 
this means your text must be at least as dark as your 600 
tint to be accessible according to WCAG AA.

Background	Text
 White	    600
 050	      600
 100	      600
 200	      700
 300	      700
 400	      800
 500	      950
 600	      100
 700	      300
 800	      400
 900	      400
 950	      500
 Black	    500
 */

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-primary-010: #f8fafc;
  --color-primary-020: #f1f5f9;
  --color-primary-050: #f2f4f7;
  --color-primary-100: #e5e7ea;
  --color-primary-200: #d8dadd;
  --color-primary-300: #caccce;
  --color-primary-400: #9fa0a2;
  --color-primary-500: #7d7e80;
  --color-primary-600: #606162;
  --color-primary-700: #454546;
  --color-primary-800: #262727;
  --color-primary-900: #19191a;
  --color-primary-950: #0f1010;
  --color-brand-050: #f0f4f8;
  --color-brand-100: #e0e8f0;
  --color-brand-200: #cfdce7;
  --color-brand-300: #bccedd;
  --color-brand-400: #83a3c1;
  --color-brand-500: #5682aa;
  --color-brand-600: #2e6596;
  --color-brand-700: #164774;
  --color-brand-800: #0c2841;
  --color-brand-900: #081b2b;
  --color-brand-950: #05111b;
  --color-green-050: #ebf7e8;
  --color-green-100: #d5eece;
  --color-green-200: #bde5b2;
  --color-green-300: #a2da93;
  --color-green-400: #5eb346;
  --color-green-500: #4a8e37;
  --color-green-600: #396d2b;
  --color-green-700: #294e1f;
  --color-green-800: #172c11;
  --color-green-900: #0f1d0b;
  --color-green-950: #091207;
  --color-red-050: #faf2f2;
  --color-red-100: #f5e3e3;
  --color-red-200: #f0d3d3;
  --color-red-300: #eac2c2;
  --color-red-400: #d88b8b;
  --color-red-500: #c85e5e;
  --color-red-600: #a44040;
  --color-red-700: #762e2e;
  --color-red-800: #431a1a;
  --color-red-900: #2c1111;
  --color-red-950: #1c0b0b;

  --shadow-app-shadow:
    color(srgb 0.0941177 0.0941177 0.105882 / 0.1) 0px 4px 8px 0px,
    color(srgb 0.0941177 0.0941177 0.105882 / 0.3) 0px 0px 1px 0px;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Manrope";
    background-color: #f7f9fc;
    background-image:
      radial-gradient(circle at top left, #f7fafd, transparent 40%),
      radial-gradient(circle at bottom right, hsla(210, 60%, 90%, 0.4), transparent 50%);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primary-900);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary-900);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
